---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos | Laurent Escure" description="A Propos de Laurent Escure">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A Propos"
				tagline="Découvrez mon parcours et mon savoir-être."
			>
				<img
					width="517"
					height="445"
					src="/assets/portrait.jpg"
					alt="Laurent Escure au travail"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Description</h2>
				<div class="content">
					<p>
						Après 18 ans d'expérience dans le domaine de la restauration, j'ai décidé de me reconvertir dans le développement web.
						Cette décision marque ma volonté de sortir de ma zone de confort et d'acquérir de nouvelles compétences
						dans un secteur qui m'a attiré ces dernières années et qui éveille mon intérêt.
					</p><br>
					<p>
						Je commence ainsi une formation de deux ans au Campus Numérique In The Alps à Annecy, axée sur le développement web et mobile.
						Cette formation se divise en trois phases : six mois consacrés à la culture numérique,
						six mois dédiés à l'apprentissage des langages de programmation et à des projets collaboratifs,
						et une année en entreprise pour mettre en pratique les compétences acquises.
					</p><br>
					<p>
						Ce qui me définit le mieux, c'est ma capacité à m'adapter rapidement à de nouveaux environnements et
						à assimiler de nouvelles technologies. Ouvert d'esprit et adepte du travail en équipe, je privilégie la communication
						et le partage des connaissances.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>Bac+2 Developpeur web et web mobile (RNCP) (mars 2024).</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Curieux, créatif, autonome, organisé, dynamique, polyvalent, persévèrent, empathique, travail en équipe et l'humour me caractérise.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
