---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient></Icon>
		<h2>Full Stack</h2>
		<p>J'ai acquis des compétences en PHP Symfony et je suis également intéressé par le développement frontend. Ma soif d'apprendre et ma curiosité naturelle m'incitent à explorer de nouveaux langages et technologies.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient></Icon>
		<h2>Collaboration</h2>
		<p>Collaborer en équipe, pratiquer le pair-programming et favoriser la communication avec mes collègues sont des éléments essentiels pour garantir une cohésion optimale et progresser efficacement sur les projets.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient></Icon>
		<h2>Adaptabilité</h2>
		<p>Grâce à mon expérience professionnelle antérieure, je suis capable de m'adapter rapidement à de nouveaux environnements et à diverses situations.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}

	}
</style>
